<div id="index-banner" class="parallax-container layout_date_result_report_new">
  <div class="section no-pad-bot">
    <div class="container" id="date_result">
      <h3 class="center" id="date_result_title"><span>デート結果報告</span></h3>
      <div class="date_result_targets_profile">
        <% if @app.id == 3 %>
          <img src="<%= "/app_icon_images/#{@app.icon_image}" %>" class="date_result_app_icon_image app-image-tapple">
        <% else %>
          <img src="<%= "/app_icon_images/#{@app.icon_image}" %>" class="date_result_app_icon_image">
        <% end %>

        <% if @target.age == 0 %>
          <div class="targets_show_one_line_age_none">
            <img src="<%= "/appearance_images/#{@appearance.image}" %>" id="targets_show_appearance_image">
            <span class="targets_show_name"><%= @target.name %></span>
            <span class="targets_show_age">年齢なし</span>
          </div>
        <% else %>
          <div class="targets_show_one_line_age_present">
            <img src="<%= "/appearance_images/#{@appearance.image}" %>" id="targets_show_appearance_image">
            <span class="targets_show_name"><%= @target.name %></span>
            <span class="targets_show_age"><%= @target.age %>歳</span>
          </div>
        <% end %>

        <%= button_to '削除', target_path(@target.id), method: :delete, class: "targets_show_edit_and_delete_button delete" %>
      </div>
      <span class="date_result_schedule_appointment"><%= date_schedule_appointment_string_operation(@date_schedule.appointment) %></span>
      <span class="<%= "date_result_schedule_date_plan #{purpose_color(@purpose.id)}" %>"><%= @date_schedule.date_plan.name %></span>

      <form action="/date_results" method="post" name="date_result_form" id="date_result_form">
        <!-- CSRFトークンを渡す -->
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

        <!-- date_schedule_id を渡す -->
        <input name="date_schedule_id" type="hidden" value="<%= @date_schedule.id %>">

        <!-- タスク(task)セレクト -->
        <% @tasks.each.with_index(1) do |task, i| %>
          <select name="<%= "result_#{i}" %>" class="selmodaltest" id="<%= "task_select_element_#{i}" %>">
            <option value="未実施">選択してください</option>
            <option value="成功">成功</option>
            <option value="失敗">失敗</option>
            <option value="未実施">未実施</option>
          </select>
          <div class="<%= "date_result_task_wrapper wrapper_#{i}" %>">
            <span class="<%= "date_result_task_name task_name_#{i}" %>"><%= task.name %></span>
            <button type="button" class="selModalButton date_result_task_button" id="<%= "task_select_button_#{i}" %>">選択してください</button>
          </div>
        <% end %>

        <button name="date_result_submit" type="button" id="targets_registration_submit_button">報告する</button>
      </form>
    </div>
  </div>
</div>
