<div id="index-banner" class="parallax-container layout-targets-registration">
  <div class="section no-pad-bot">
    <div class="container" id="targets_registration">
      <h3 class="center" id="targets_registration_title"><span>女性登録</span></h3>

        <form>
        <!-- アプリセレクト -->
        <select name="app_select" class="selmodaltest" id="app_select_element">
            <option value="0">アプリを選択してください</option>
            <% @apps.each.with_index(1) do |app, i| %>
            <option data-image="<%= "/app_icon_images/#{app.icon_image}" %>" value="<%= i %>"><%= app.name %></option>
            <% end %>
        </select>

        <!-- 容姿セレクト -->
        <select name="appearance_select" class="selmodaltest">
            <option value="0">容姿を選択してください</option>
            <option data-image="/appearance_images/暗髪ロング.jpeg" value="暗髪ロング">暗髪ロング</option>
            <option data-image="/appearance_images/暗髪ミディアム.jpeg" value="暗髪ミディアム">暗髪ミディアム</option>
            <option data-image="/appearance_images/暗髪ボブ・ショート.png" value="暗髪ボブ・ショート">暗髪ボブ・ショート</option>
            <option data-image="/appearance_images/明髪ロング.jpeg" value="明髪ロング">明髪ロング</option>
            <option data-image="/appearance_images/明髪ミディアム.jpeg" value="明髪ミディアム">明髪ミディアム</option>
            <option data-image="/appearance_images/明髪ボブ・ショート.jpeg" value="明髪ボブ・ショート">明髪ボブ・ショート</option>
            <option data-image="/appearance_images/派手髪ロング.jpeg" value="派手髪ロング">派手髪ロング</option>
            <option data-image="/appearance_images/派手髪ミディアム.jpeg" value="派手髪ミディアム">派手髪ミディアム</option>
            <option data-image="/appearance_images/派手髪ボブ・ショート.jpeg" value="派手髪ボブ・ショート">派手髪ボブ・ショート</option>
        </select>

        <!-- 名前セレクト -->
        <div class="row" id="row_input_select">
            <div class="input-field col s12">
            <input name="name_select" id="name_select" type="text" class="validate">
            <label for="name_select">名前を入力してください</label>
            </div>
        </div>

        <!-- 年齢セレクト -->
        <select name="age_select" class="selmodaltest">
            <option value="0">年齢を選択してください</option>
            <% @ages.each do |age| %>
            <option value="<%= age %>"><%= age %></option>
            <% end %>
        </select>

        <!-- 目的セレクト -->
        <select name="purpose_select" class="selmodaltest">
            <option value="0">目的を選択してください</option>
            <% @purposes.each do |purpose| %>
            <option value="<%= purpose.name %>"><%= purpose.name %></option>
            <% end %>
        </select>

        <!-- 職業セレクト -->
        <select name="job_select" class="selmodaltest">
            <option value="0">職業を選択してください</option>
            <% @jobs.each do |job| %>
            <option value="<%= job.name %>"><%= job.name %></option>
            <% end %>
        </select>

        <!-- 身長セレクト -->
        <select name="height_select" class="selmodaltest">
            <option value="0">身長を選択してください</option>
            <% @heights.each do |height| %>
            <option value="<%= height %>"><%= height %></option>
            <% end %>
        </select>

        <!-- 趣味セレクト -->
        <div class="row" id="row_input_select">
            <div class="input-field col s12">
            <input name="hobby_select" id="hobby_select" type="text" class="validate">
            <label for="hobby_select">趣味を入力してください</label>
            </div>
        </div>

        <!-- 都道府県セレクト -->
        <select name="prefectures_select" class="selmodaltest" id="prefectures_select_element">
            <option value="0">都道府県を選択してください</option>
            <% @ken_name_hash_array.each do |ken_name_hash| %>
            <option value="<%= ken_name_hash["ken_name"] %>"><%= ken_name_hash["ken_name"] %></option>
            <% end %>
        </select>
        <button type="button" class="selModalButton" id="prefectures_select_button">都道府県を選択してください</button>

        <!-- 市区町村セレクト -->
        <button type="button" class="selModalButton" id="city_select_start_button">市区町村を入力する</button>
        <select name="city_select" class="selmodaltest" id="city_select_element">
        </select>
        <select id="city_select_element_fake">
            <option value="0">市区町村を選択してください</option>
            <% (1..47).each do |number| %>
            <% eval("@each_city_name_array_#{number}").each do |city_name| %>
                <option class="hidden" id="<%= eval("@prefecture_#{number}") %>オプション"><%= city_name %></option>
            <% end %>
            <% end %>
        </select>

        <!-- 市区町村セレクトボタン(button)を予め作成 -->
        <button type="button" class="selModalButton hidden" id="city_select_button">市区町村を選択してください</button>


        <!-- 性格セレクト -->
        <select name="personality_select" class="selmodaltest">
            <option value="0">性格を選択してください</option>
            <% @personalities.each do |personalitie| %>
            <option value="<%= personalitie.name %>"><%= personalitie.name %></option>
            <% end %>
        </select>

        <!-- 彼氏いない歴セレクト -->
        <div class="row" id="row_input_select">
            <div class="input-field col s12">
            <input name="single_history_select" id="single_history_select" type="text" class="validate">
            <label for="single_history_select">彼氏いない歴を入力してください</label>
            </div>
        </div>

        <!-- 好きな食べ物セレクト -->
        <div class="row" id="row_input_select">
            <div class="input-field col s12">
            <input name="favorite_food_select" id="favorite_food_select" type="text" class="validate">
            <label for="favorite_food_select">好きな食べ物を入力してください</label>
            </div>
        </div>

        <input type="submit" value="登録する" class="targets_registration_submit_button">
        </form>

    </div>
  </div>
</div>
