<div id="index-banner" class="parallax-container layout-targets-show">
  <div class="section no-pad-bot">
    <div class="container" id="targets_show">
      <div class="targets_show_profile">
        <%= link_to '編集', edit_target_path(@target.id), class: "targets_show_edit_and_delete_button edit" %>

        <% if @app.id == 3 %>
          <img src="<%= "/app_icon_images/#{@app.icon_image}" %>" class="targets_show_app_icon_image app-image-tapple">
        <% else %>
          <img src="<%= "/app_icon_images/#{@app.icon_image}" %>" class="targets_show_app_icon_image">
        <% end %>

        <%= button_to '削除', target_path(@target.id), method: :delete, class: "targets_show_edit_and_delete_button delete" %>

        <% if @target.age == 0 %>
          <div class="targets_show_one_line_age_none">
            <img src="<%= "/appearance_images/#{@appearance.image}" %>" id="targets_show_appearance_image">
            <span class="targets_show_name"><%= @target.name %></span>
            <span class="targets_show_age">年齢なし</span>
          </div>
        <% else %>
          <div class="targets_show_one_line_age_present">
            <img src="<%= "/appearance_images/#{@appearance.image}" %>" id="targets_show_appearance_image">
            <span class="targets_show_name"><%= @target.name %></span>
            <span class="targets_show_age"><%= @target.age %>歳</span>
          </div>
        <% end %>

        <div class="targets_show_2_word_wrapper">
          <p class="targets_show_2_word_title">職業</p>
          <p class="<%= "targets_show_2_word_value #{app_color(@app.id)}" %>"><%= @job.name %></p>
        </div>

        <div class="targets_show_2_word_wrapper">
          <p class="targets_show_2_word_title">身長</p>
          <% if @target.height == 0 %>
            <p class="<%= "targets_show_2_word_value #{app_color(@app.id)}" %>">未選択</p>
          <% else %>
            <p class="<%= "targets_show_2_word_value #{app_color(@app.id)}" %>"><%= @target.height %>cm</p>
          <% end %>
        </div>

        <div class="targets_show_2_word_wrapper">
          <p class="targets_show_2_word_title">性格</p>
          <p class="<%= "targets_show_2_word_value #{app_color(@app.id)}" %>"><%= @personality.name %></p>
        </div>

        <div class="targets_show_2_word_wrapper">
          <p class="targets_show_2_word_title">趣味</p>
          <% if @target.hobby == "" %>
            <p class="<%= "targets_show_2_word_value #{app_color(@app.id)}" %>">未入力</p>
          <% else %>
            <p class="<%= "targets_show_2_word_value #{app_color(@app.id)}" %>"><%= @target.hobby %></p>
          <% end %>
        </div>

        <div class="targets_show_4_word_wrapper">
          <p class="targets_show_4_word_title">都道府県</p>
          <% if @target.prefecture == "0" %>
            <p class="<%= "targets_show_4_word_value #{app_color(@app.id)}" %>">未選択</p>
          <% else %>
            <p class="<%= "targets_show_4_word_value #{app_color(@app.id)}" %>"><%= @target.prefecture %></p>
          <% end %>
        </div>

        <div class="targets_show_4_word_wrapper">
          <p class="targets_show_4_word_title">市区町村</p>
          <% if @target.city == "0" %>
            <p class="<%= "targets_show_4_word_value #{app_color(@app.id)}" %>">未選択</p>
          <% else %>
            <p class="<%= "targets_show_4_word_value #{app_color(@app.id)}" %>"><%= @target.city %></p>
          <% end %>
        </div>

        <div class="targets_show_6_word_wrapper">
          <p class="targets_show_6_word_title">彼氏いない歴</p>
          <% if @target.single_history == "" %>
            <p class="<%= "targets_show_6_word_value #{app_color(@app.id)}" %>">未入力</p>
          <% else %>
            <p class="<%= "targets_show_6_word_value #{app_color(@app.id)}" %>"><%= @target.single_history %>(○月○日時点)</p>
          <% end %>
        </div>

        <div class="targets_show_6_word_wrapper">
          <p class="targets_show_6_word_title">好きな食べ物</p>
          <% if @target.favorite_food == "" %>
            <p class="<%= "targets_show_6_word_value #{app_color(@app.id)}" %>">未入力</p>
          <% else %>
            <p class="<%= "targets_show_6_word_value #{app_color(@app.id)}" %>"><%= @target.favorite_food %></p>
          <% end %>
        </div>
      </div>

      <div class="<%= "targets_show_box_date_calculate #{purpose_color(@purpose.id)}" %>">
        <div class="<%= "targets_show_box_calculate_title #{purpose_color(@purpose.id)}" %>">目的</div>
        <p class="<%= "targets_show_box_calculate_description #{purpose_color(@purpose.id)}" %> "><%= @purpose.name %></p>
      </div>

      <div class="<%= "targets_show_box_date_calculate #{app_color(@app.id)}" %>">
        <div class="<%= "targets_show_box_calculate_title #{app_color(@app.id)}" %>">デートした回数</div>
        <p class="targets_show_box_calculate_description"><span class="targets_show_date_count_span">○</span>回</p>
      </div>

      <div class="<%= "targets_show_box_date_calculate #{app_color(@app.id)}" %>">
        <div class="<%= "targets_show_box_calculate_title #{app_color(@app.id)}" %>">デート履歴</div>
        <div class="targets_show_box_div_description">
          <span>1回目のデート</span>
          <span>4/23</span>
          <span class="<%= "targets_show_date_count_span #{purpose_color(@purpose.id)}" %>">デートプランB</span>
        </div>
        <div class="targets_show_box_div_description">
          <span>2回目のデート</span>
          <span>5/3</span>
          <span class="<%= "targets_show_date_count_span #{purpose_color(@purpose.id)}" %>">デートプランA</span>
        </div>
        <div class="targets_show_box_div_description">
          <span class="targets_show_box_span_date_body_large">前回のデート</span>
          <span class="targets_show_box_span_date_large">5/3</span>
          <span class="<%= "targets_show_box_span_date_plan_large #{purpose_color(@purpose.id)}" %>">デートプランA</span>
        </div>
      </div>

      <div class="targets_show_box_date_calculate favorability_rating">
        <div class="targets_show_box_calculate_title favorability_rating">好感度</div>
        <p class="targets_show_box_calculate_description"><%= @target.favorability_rating %>％</p>
      </div>

      <div class="targets_show_box_date_calculate progress_rating">
        <div class="targets_show_box_calculate_title progress_rating">進展度</div>
        <p class="targets_show_box_calculate_description"><%= @target.progress_rating %>％</p>
      </div>

      <div class="targets_show_date_plan_registration">
        <p class="targets_show_date_plan_registration_title">デートの予定を登録する</p>
        <div class="targets_show_box_date_calculate recommend">
          <div class="targets_show_box_calculate_title recommend">おすすめのデート予定日</div>
          <p class="targets_show_box_calculate_description recommend">○/○ 〜 ○/○</p>
        </div>
        <div class="targets_show_box_date_calculate recommend">
          <div class="targets_show_box_calculate_title recommend">おすすめのデートプラン</div>
          <p class="<%= "targets_show_box_calculate_description #{purpose_color(@purpose.id)} recommend" %>">デートプランB</span></p>
        </div>
        
        <form action="/targets" method="post">
          <!-- CSRFトークンを渡す -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

          <div class="targets_date_registration">
            <div class="targets_date_registration_border">
              <div class="datepicker_wrapper">
                <!-- 日付セレクト -->
                <input name="" type="text" class="datepicker" placeholder="日付を選択して下さい">
              </div>

              <!-- デートプランセレクト -->
              <select name="date_plan_id" class="selmodaltest">
                  <option value="0">デートプランを選択してください</option>
                  <% @date_plans.each do |date_plan| %>
                    <option value="<%= date_plan.id %>"><%= date_plan.name %></option>
                  <% end %>
              </select>
              <button name="targets_registration_submit" type="button" class="targets_date_registration_submit_button">デート登録</button>
            </div>
          </div>
        </form>

        <div class="targets_date_schedule">
          <div class="targets_date_schedule_border">
            <p>デート予定日</p>
            <%= button_to '削除', target_path(@target.id), method: :delete, class: "targets_date_schedule_delete_button" %>
            <span class="targets_date_schedule_appointment">5/13</span>
            <span class="<%= "targets_date_schedule_date_plan #{purpose_color(@purpose.id)}" %>">デートプランB</span>
            <button type="button" class="targets_show_date_report_button">デート報告</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
