<div class="app-strategies-flow">
  <p class="app-strategies-show-arrow-title">攻略の流れ</p>
  <p id="make_girlfriend_character_only">彼女作り</p>
  <ul>
    <li>
      <div class="progress app-diagnostic-result-bar rotate-bottom" id="app-strategies-show-bar">
        <div class="indeterminate app-diagnostic-result-bar-move-bottom">----</div>
      </div>
    </li>
    <li class="arrow-clippath-bottom" id="app-strategies-show-arrow"></li>
  </ul>
  <div class="app-strategies-step-button-wrapper">
    <%= link_to '1.プロフィール設定', 'make_girlfriend#test', class: "app-strategies-step-button make_girlfriend-button" %>
    <%= link_to '2.女性にいいねする', 'make_girlfriend#test', class: "app-strategies-step-button make_girlfriend-button" %>
    <%= link_to '3.ファーストメッセージ', 'make_girlfriend#test', class: "app-strategies-step-button make_girlfriend-button" %>
    <%= link_to '4.メッセージのやりとり', 'make_girlfriend#test', class: "app-strategies-step-button make_girlfriend-button" %>
    <%= link_to '5.アポの取り方・コツ', 'make_girlfriend#test', class: "app-strategies-step-button make_girlfriend-button" %>
    <%= link_to '6.デートプラン・スポットを探す', 'make_girlfriend#test', class: "app-strategies-step-button make_girlfriend-button" %>
    <%= link_to '7.アポを取ってからデート当日まで', 'make_girlfriend#test', class: "app-strategies-step-button make_girlfriend-button" %>
    <%= link_to '8.デート当日(デート別)', 'make_girlfriend#test', class: "app-strategies-step-button make_girlfriend-button" %>
  </div>
</div>