<div class="app-strategies-flow">
  <p class="app-strategies-show-arrow-title">攻略の流れ</p>
  <input id="switch" type="checkbox" hidden>
  <label for="switch" onclick="" class="switch" id="toggle_switch">
  </label>
  <div class="app-strategies-toggle-radius-button-center">
    <button type="button" class="hidden" id="toggle-radius-button"></button>
  </div>
  <p class="make-girlfriend-character on" id="make_girlfriend_character"><%= @app_purposes[0].purpose.name %></p>
  <p class="play-character" id="play_character"><%= @app_purposes[1].purpose.name %></p>
  <ul>
    <li>
      <div class="progress app-diagnostic-result-bar rotate-bottom" id="app-strategies-show-bar">
        <div class="indeterminate app-diagnostic-result-bar-move-bottom">----</div>
      </div>
    </li>
    <li class="arrow-clippath-bottom" id="app-strategies-show-arrow"></li>
  </ul>
  <div class="app-strategies-step-button-wrapper" id="app-strategies-step-button-wrapper">
    <%= link_to @steps[0].name, '1/step#test', class: "app-strategies-step-button make_girlfriend-button", id: "app-strategies-step-button-1" %>
    <%= link_to @steps[1].name, '1/step#test', class: "app-strategies-step-button make_girlfriend-button", id: "app-strategies-step-button-2" %>
    <%= link_to @steps[2].name, '1/step#test', class: "app-strategies-step-button make_girlfriend-button", id: "app-strategies-step-button-3" %>
    <%= link_to @steps[3].name, '1/step#test', class: "app-strategies-step-button make_girlfriend-button", id: "app-strategies-step-button-4" %>
    <%= link_to @steps[4].name, '1/step#test', class: "app-strategies-step-button make_girlfriend-button", id: "app-strategies-step-button-5" %>
    <%= link_to @steps[5].name, '1/step#test', class: "app-strategies-step-button make_girlfriend-button", id: "app-strategies-step-button-6" %>
    <%= link_to @steps[6].name, '1/step#test', class: "app-strategies-step-button make_girlfriend-button", id: "app-strategies-step-button-7" %>
    <%= link_to @steps[7].name, '1/step#test', class: "app-strategies-step-button make_girlfriend-button", id: "app-strategies-step-button-8" %>
  </div>
</div>