  <img src="<%= "/app_icon_images/#{@app.icon_image}" %>" id="app_icon_image">
  <h4 class="center" id="app-strategies-show-title"><%= @app.name %>攻略</h4>
  <div class="<%= "app-strategies-show-box-#{app_color(@app.diagnostic_allocation)}" %>">
    <div class="<%= "app-strategies-show-box-#{app_color(@app.diagnostic_allocation)}-title" %>">特徴</div>
    <p id="app-strategies-show-description"><%= @app_strategy_description_split_array[0] %><br><%= @app_strategy_description_split_array[1] %><br><%= @app_strategy_description_split_array[2] %></p>
  </div>
  <table class="table-pairs">
    <tr>
      <th>料金</th>
      <td><span class="app-strategies-show-star-little-left">少ない</span><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><span class="app-strategies-show-star-many-right">多い</span></td>
    </tr>
    <tr>
      <th>可愛い子</th>
      <td><span class="app-strategies-show-star-little-left">少ない</span><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><span class="app-strategies-show-star-many-right">多い</span></td>
    </tr>
    <tr>
      <th>真面目度</th>
      <td><span class="app-strategies-show-star-low-left">低い</span><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><span class="app-strategies-show-star-high-right">高い</span></td>
    </tr>
    <tr>
      <th>マッチング率</th>
      <td><span class="app-strategies-show-star-low-left">低い</span><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><span class="app-strategies-show-star-high-right">高い</span></td>
    </tr>
    <tr>
      <th>アポ確定率</th>
      <td><span class="app-strategies-show-star-low-left">低い</span><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><span class="app-strategies-show-star-high-right">高い</span></td>
    </tr>
    <tr>
      <th>競争率</th>
      <td><span class="app-strategies-show-star-low-left">低い</span><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><span class="app-strategies-show-star-high-right">高い</span></td>
    </tr>
  </table>