<div class="app-strategies-flow">
  <p class="app-strategies-show-arrow-title">攻略の流れ</p>
  <p id="super-play-character"><%= @app_purposes[0].purpose.name %></p>
  <ul>
    <li>
      <div class="progress app-diagnostic-result-bar rotate-bottom" id="app-strategies-show-bar">
        <div class="indeterminate app-diagnostic-result-bar-move-bottom">----</div>
      </div>
    </li>
    <li class="arrow-clippath-bottom" id="app-strategies-show-arrow"></li>
  </ul>
  <div class="app-strategies-step-button-wrapper">
    <%= link_to @steps[0].name, '3/step#1', class: "app-strategies-step-button super-play-button" %>
    <%= link_to @steps[1].name, '3/step#2', class: "app-strategies-step-button super-play-button" %>
    <%= link_to @steps[2].name, '3/step#3', class: "app-strategies-step-button super-play-button" %>
    <%= link_to @steps[3].name, '3/step#4', class: "app-strategies-step-button super-play-button" %>
    <%= link_to @steps[4].name, '3/step#5', class: "app-strategies-step-button super-play-button" %>
    <%= link_to @steps[5].name, '3/step#6', class: "app-strategies-step-button super-play-button" %>
    <%= link_to @steps[6].name, '3/step#7', class: "app-strategies-step-button super-play-button" %>
    <%= link_to @steps[7].name, '3/step#8', class: "app-strategies-step-button super-play-button" %>
  </div>
</div>