<div id="index-banner" class="parallax-container layout-app-strategies-show">
  <div class="section no-pad-bot">
    <!-- Design tiré du site flatuicolors.com -->
    <!-- Bouton Select de base -->
    <select class="old-select">
      <option value="pairs" selected>ペアーズ攻略</option>
      <option value="with">ウィズ攻略</option>
      <option value="tapple">タップル攻略</option>
      <option value="tinder">ティンダー攻略</option>
    </select>
      <!-- Bouton Select reconstruit -->
      <div class="new-select">
        <div class="<%= "selection #{app_color(@app.diagnostic_allocation)}" %>" id="selection">
          <p>
            <span></span>
            <i></i>
          </p>
          <span></span>
        </div>
      </div>
    <% case params[:id] %>
    <% when '1' %>
      <div class="container" id="app-strategies-show">
        <%= render 'pairs' %>
      </div>
      <%= render 'make_girlfriend_flow' %>
    <% when '2' %>
      <div class="container" id="app-strategies-show">
        <%= render 'with' %>
      </div>
      <%= render 'make_girlfriend&play_flow' %>
    <% when '3' %>
      <div class="container" id="app-strategies-show">
        <%= render 'tapple' %>
      </div>
      <%= render 'make_girlfriend&play_flow' %>
    <% when '4' %>
      <div class="container" id="app-strategies-show">
        <%= render 'tinder' %>
      </div>
      <%= render 'super_play_flow' %>
    <% end %>
  </div>
</div>