<div id="index-banner" class="parallax-container layout-app-strategies-step-description">
  <div class="section no-pad-bot">
    <!-- Design tiré du site flatuicolors.com -->
    <!-- Bouton Select de base -->
    <select class="old-select">
      <option value="make_girlfriend" selected>彼女作り</option>
      <option value="play">遊び</option>
      <option value="super_play">超遊び</option>
    </select>
      <!-- Bouton Select reconstruit -->
      <div class="new-select">
        <div class="<%= "selection #{@purpose_class_name}" %>" id="selection">
          <p>
            <span></span>
            <i></i>
          </p>
          <span></span>
        </div>
      </div>
    <div class="container" id="app-strategies-step">
      <% @apps.each do |app| %>
        <% if app.id == 3 %>
          <img src="<%= "/app_icon_images/#{app.icon_image}" %>" class="app-image-tapple" id="app-icon-image">
        <% else %>
          <img src="<%= "/app_icon_images/#{app.icon_image}" %>" id="app-icon-image">
        <% end %>
      <% end %>
      <p id="app_strategies_step_purpose"><%= @purpose.name %></p>
      <% @steps.each do |step| %>
        <% @step_description_split_array = step.description.split('.') %> <!-- 黒字の説明文(step.description) -->
        <% @step_description_point_split_array = step.description_point.split('.') %> <!-- 色付きの説明文(step.description_point) -->
        <div class="<%= "app-strategies-step-box-#{@purpose_class_name}" %>">
          <div class="<%= "app-strategies-step-box-#{@purpose_class_name}-title" %>" id="<%= step.name.gsub(/[^0-9]/,"") %>"><%= step.name %></div>

          <% if step.name == '6.デートプラン・スポットを探す' %>
            <p id="app-strategies-step-description">
              <% @step_description_split_array.each.with_index(1) do |description, i| %>
                <%= description %>
                <% unless @step_description_split_array.size == i %>
                  <br>
                <% end %>
              <% end %>
            </p>
            <p id="<%= "app-strategies-step-description-point-#{@purpose_class_name}-li" %>">
              <% @step_description_point_split_array.each.with_index(1) do |description_point, i| %>
                <%= description_point %>
                <% unless @step_description_point_split_array.size == i %>
                  <br>
                <% end %>
              <% end %>
            </p>
            <%= link_to 'デートプラン一覧', date_plan_path(@purpose.id), class: "date_plans_button #{@purpose_class_name}" %>
          <% elsif step.name == '8.デート当日(デート別)' %>
            <p id="app-strategies-step-description">
              <% @step_description_split_array.each.with_index(1) do |description, i| %>
                <%= description %>
                <% unless @step_description_split_array.size == i %>
                  <br>
                <% end %>
              <% end %>
            </p>
            <p id="<%= "app-strategies-step-description-point-#{@purpose_class_name}-li" %>">
              <% @step_description_point_split_array.each.with_index(1) do |description_point, i| %>
                <%= description_point %>
                <% unless @step_description_point_split_array.size == i %>
                  <br>
                <% end %>
              <% end %>
            </p>
            <select id="date_plans_select_box">
              <% @date_plans.each do |date_plan| %>
                <option value="<%= "date_plans/#{date_plan.id}/detail" %>"><%= date_plan.name %></option>
              <% end %>
            </select>
            <%= link_to '行動パターン攻略説明', detail_date_plan_path(1), class: "date_plans_button #{@purpose_class_name}", id: "date_plans_select_box_link" %>
          <% else %> <!-- 「6.デートプラン・スポットを探す」と「8.デート当日(デート別)」以外のステップ -->
 
            <!-- 黒字の説明文(step.description) -->
            <p id="app-strategies-step-description">
              <% @step_description_split_array.each.with_index(1) do |description, i| %>
                <%= description %>
                <% unless @step_description_split_array.size == i %>
                  <br>
                <% end %>
              <% end %>
            </p>

            <p id="<%= "app-strategies-step-description-point-#{@purpose_class_name}" %>"><%= '<ポイント>' %></p> <!-- 変えない。 -->

            <!-- 色付きの説明文(step.description_point) -->
            <p id="<%= "app-strategies-step-description-point-#{@purpose_class_name}-li" %>">
              <% @step_description_point_split_array.each.with_index(1) do |description_point, i| %>
                <%= description_point %>
                <% unless @step_description_point_split_array.size == i %>
                  <br>
                <% end %>
              <% end %>
            </p>
          <% end %>

        </div>
      <% end %>
    </div>
  </div>
</div>