<div id="index-banner" class="parallax-container layout-app-strategies-step-description">
  <div class="section no-pad-bot">
    <!-- Design tiré du site flatuicolors.com -->
    <!-- Bouton Select de base -->
    <select class="old-select">
      <option value="make_girlfriend" selected>彼女作り</option>
      <option value="play">遊び</option>
      <option value="super_play">超遊び</option>
    </select>
      <!-- Bouton Select reconstruit -->
      <div class="new-select">
        <div class="<%= "selection #{@purpose_class_name}" %>" id="selection">
          <p>
            <span></span>
            <i></i>
          </p>
          <span></span>
        </div>
      </div>
    <div class="container" id="app-strategies-step">
      <% @apps.each do |app| %>
        <% if app.id == 3 %>
          <img src="<%= "/app_icon_images/#{app.icon_image}" %>" class="app-image-tapple" id="app-icon-image">
        <% else %>
          <img src="<%= "/app_icon_images/#{app.icon_image}" %>" id="app-icon-image">
        <% end %>
      <% end %>
      <p id="app_strategies_step_purpose"><%= @purpose.name %></p>
      <% @steps.each do |step| %>
        <% @step_description_split_array = step.description.split('.') %> <!-- 黒字の説明文(step.description) -->
        <% @step_description_point_split_array = step.description_point.split('.') %> <!-- 色付きの説明文(step.description_point) -->
        <div class="<%= "app-strategies-step-box-#{@purpose_class_name}" %>">
          <div class="<%= "app-strategies-step-box-#{@purpose_class_name}-title" %>" id="<%= step.name.gsub(/[^0-9]/,"") %>"><%= step.name %></div>

          <% if step.name == '6.デートプラン・スポットを探す' %>
            <p id="app-strategies-step-description"><%= @step_description_split_array[0] %></p>
            <p id="<%= "app-strategies-step-description-point-#{@purpose_class_name}-li" %>"><%= @step_description_point_split_array[0] %></p>
          <% elsif step.name == '8.デート当日(デート別)' %>
            <p id="app-strategies-step-description"><%= @step_description_split_array[0] %><br><%= @step_description_split_array[1] %><br><%= @step_description_split_array[2] %><br><%= @step_description_split_array[3] %><br><%= @step_description_split_array[4] %></p>
            <p id="<%= "app-strategies-step-description-point-#{@purpose_class_name}-li" %>"><%= @step_description_point_split_array[0] %></p>
          <% else %> <!-- 「6.デートプラン・スポットを探す」と「8.デート当日(デート別)」以外のステップ -->
 
            <!-- 黒字の説明文(step.description) -->
            <% if @step_description_split_array.size == 1 %>
              <p id="app-strategies-step-description"><%= @step_description_split_array[0] %></p>
            <% elsif @step_description_split_array.size == 2 %>
              <p id="app-strategies-step-description"><%= @step_description_split_array[0] %><br><%= @step_description_split_array[1] %></p>
            <% elsif @step_description_split_array.size == 3 %>
              <p id="app-strategies-step-description"><%= @step_description_split_array[0] %><br><%= @step_description_split_array[1] %><br><%= @step_description_split_array[2] %></p>
            <% elsif @step_description_split_array.size == 4 %>
              <p id="app-strategies-step-description"><%= @step_description_split_array[0] %><br><%= @step_description_split_array[1] %><br><%= @step_description_split_array[2] %><br><%= @step_description_split_array[3] %></p>
            <% end %>

            <p id="<%= "app-strategies-step-description-point-#{@purpose_class_name}" %>"><%= '<ポイント>' %></p> <!-- 変えない。 -->

            <!-- 色付きの説明文(step.description_point) -->
            <% if @step_description_point_split_array.size == 1 %>
              <p id="<%= "app-strategies-step-description-point-#{@purpose_class_name}-li" %>"><%= @step_description_point_split_array[0] %></p>
            <% elsif @step_description_point_split_array.size == 2 %>
              <p id="<%= "app-strategies-step-description-point-#{@purpose_class_name}-li" %>"><%= @step_description_point_split_array[0] %><br><%= @step_description_point_split_array[1] %></p>
            <% elsif @step_description_point_split_array.size == 3 %>
              <p id="<%= "app-strategies-step-description-point-#{@purpose_class_name}-li" %>"><%= @step_description_point_split_array[0] %><br><%= @step_description_point_split_array[1] %><br><%= @step_description_point_split_array[2] %></p>
            <% elsif @step_description_point_split_array.size == 4 %>
              <p id="<%= "app-strategies-step-description-point-#{@purpose_class_name}-li" %>"><%= @step_description_point_split_array[0] %><br><%= @step_description_point_split_array[1] %><br><%= @step_description_point_split_array[2] %><br><%= @step_description_point_split_array[3] %></p>
            <% elsif @step_description_point_split_array.size == 5 %>
              <p id="<%= "app-strategies-step-description-point-#{@purpose_class_name}-li" %>"><%= @step_description_point_split_array[0] %><br><%= @step_description_point_split_array[1] %><br><%= @step_description_point_split_array[2] %><br><%= @step_description_point_split_array[3] %><br><%= @step_description_point_split_array[4] %></p>
            <% elsif @step_description_point_split_array.size == 6 %>
              <p id="<%= "app-strategies-step-description-point-#{@purpose_class_name}-li" %>"><%= @step_description_point_split_array[0] %><br><%= @step_description_point_split_array[1] %><br><%= @step_description_point_split_array[2] %><br><%= @step_description_point_split_array[3] %><br><%= @step_description_point_split_array[4] %><br><%= @step_description_point_split_array[5] %></p>
            <% end %>
          <% end %>

        </div>
      <% end %>
    </div>
  </div>
</div>