<div id="index-banner" class="parallax-container layout-app-strategies-step-description">
  <div class="section no-pad-bot">
    <!-- Design tiré du site flatuicolors.com -->
    <!-- Bouton Select de base -->
    <select class="old-select">
      <option value="make_girlfriend" selected>彼女作り</option>
      <option value="play">遊び</option>
      <option value="super_play">超遊び</option>
    </select>
      <!-- Bouton Select reconstruit -->
      <div class="new-select">
        <div class="<%= "selection #{purpose_color(@purpose.name)}" %>" id="selection">
          <p>
            <span></span>
            <i></i>
          </p>
          <span></span>
        </div>
      </div>
    <div class="container" id="app-strategies-step">
      <% @apps.each do |app| %>
        <% if app.diagnostic_allocation == 'c' %>
          <img src="<%= "/app_icon_images/#{app.icon_image}" %>" class="app-image-tapple" id="app-icon-image">
        <% else %>
          <img src="<%= "/app_icon_images/#{app.icon_image}" %>" id="app-icon-image">
        <% end %>
      <% end %>
      <p id="app_strategies_step_purpose"><%= @purpose.name %></p>
      <% @purpose.steps.each do |step| %>
        <% @step_description_split_array = step.description.split('.') %> <!-- 黒字の説明文(step.description) -->
        <% @step_description_point_split_array = step.description_point.split('.') %> <!-- 色付きの説明文(step.description_point) -->
        <div class="<%= "app-strategies-step-box-#{purpose_color(@purpose.name)}" %>">
          <div class="<%= "app-strategies-step-box-#{purpose_color(@purpose.name)}-title" %>" id="<%= step.name.gsub(/[^0-9]/,"") %>"><%= step.name %></div>

          <% if step.name == '6.デートプラン・スポットを探す' %>
            <p id="app-strategies-step-description">
              <% @step_description_split_array.each.with_index(1) do |description, i| %>
                <%= description %>
                <% unless @step_description_split_array.size == i %>
                  <br>
                <% end %>
              <% end %>
            </p>
            <p id="<%= "app-strategies-step-description-point-#{purpose_color(@purpose.name)}-li" %>">
              <% @step_description_point_split_array.each.with_index(1) do |description_point, i| %>
                <%= description_point %>
                <% unless @step_description_point_split_array.size == i %>
                  <br>
                <% end %>
              <% end %>
            </p>
            <%= link_to 'デートプラン一覧', date_plan_path(@purpose.id), class: "date_plans_button #{purpose_color(@purpose.name)}" %>
          <% elsif step.name == '8.デート当日(デート別)' %>
            <p id="app-strategies-step-description">
              <% @step_description_split_array.each.with_index(1) do |description, i| %>
                <%= description %>
                <% unless @step_description_split_array.size == i %>
                  <br>
                <% end %>
              <% end %>
            </p>
            <p id="<%= "app-strategies-step-description-point-#{purpose_color(@purpose.name)}-li" %>">
              <% @step_description_point_split_array.each.with_index(1) do |description_point, i| %>
                <%= description_point %>
                <% unless @step_description_point_split_array.size == i %>
                  <br>
                <% end %>
              <% end %>
            </p>
            <form action="/app_strategies/date_plan_detail_redirect" name="date_plan_detail_redirect_form">
              <select name="date_plan_id" class="selmodaltest" id="date_plan_detail_redirect_select_element">
                <option value="0">デートプランを選択してください</option>
                <% @purpose.date_plans.each do |date_plan| %>
                  <option value="<%= date_plan.id %>"><%= date_plan.name %></option>
                <% end %>
              </select>
              <button type="button" class="selModalButton" id="date_plan_detail_redirect_select_button">デートプランを選択してください</button>
              <!-- submit ボタン -->
              <button name="date_plan_detail_redirect_submit" type="button" class="<%= "date_plans_button #{purpose_color(@purpose.name)}" %>" id="date_plan_detail_redirect_submit_button">行動パターン攻略説明</button>
            </form>
          <% else %> <!-- 「6.デートプラン・スポットを探す」と「8.デート当日(デート別)」以外のステップ -->
 
            <!-- 黒字の説明文(step.description) -->
            <p id="app-strategies-step-description">
              <% @step_description_split_array.each.with_index(1) do |description, i| %>
                <%= description %>
                <% unless @step_description_split_array.size == i %>
                  <br>
                <% end %>
              <% end %>
            </p>

            <p id="<%= "app-strategies-step-description-point-#{purpose_color(@purpose.name)}" %>"><%= '<ポイント>' %></p> <!-- 変えない。 -->

            <!-- 色付きの説明文(step.description_point) -->
            <p id="<%= "app-strategies-step-description-point-#{purpose_color(@purpose.name)}-li" %>">
              <% @step_description_point_split_array.each.with_index(1) do |description_point, i| %>
                <%= description_point %>
                <% unless @step_description_point_split_array.size == i %>
                  <br>
                <% end %>
              <% end %>
            </p>
          <% end %>

        </div>
      <% end %>
    </div>
  </div>
</div>