<div id="index-banner" class="parallax-container layout_user_index">
  <div class="section no-pad-bot">
    <div class="container" id="targets_index">
      <h3 class="center" id="targets_title"><span>ユーザー一覧</span></h3>
      <div class="targets_index_total_count_wrapper">
        <p class="targets_index_total_count_title">合計登録人数</p>
        <p class="targets_index_total_count_number"><span><%= @users_all.size %></span>人</p>
      </div>

        <a class="targets_index_each_target_button" id="targets_index_each_target_th">
          <span>No</span>
          <span class="targets_name_span">名前</span>
          <span>役割</span>
          <span>モテ度</span>
          <span>登録女性</span>
        </a>
        <% @users_all_pagination.each.with_index(1) do |user, i| %>
          <%= link_to "", class: "targets_index_each_target_button user_manage", id: "targets_index_each_target_button_td" do %>
              <span><%= i %></span>
              <span><%= user.name %></span>
              <% if user.role == 1 %>
                <span>管理者</span>
              <% else %>
                <span>ユーザー</span>
              <% end %>
              <span><%= user.popular_rating %>％</span>
              <span><%= user.targets.size %>人</span>
          <% end %>
          <%= button_to '削除', user_path(user.id), method: :delete, class: "targets_show_edit_and_delete_button delete user_index" %>
        <% end %>
        <%= paginate @users_all_pagination %>
    </div>
  </div>
</div>
