<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <title>マッチングアプリマスター</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div id="liffAppContent">
      <%= yield %>
      <ul class="menu">
	      <li>
		      <a href="ホーム画面URL"><i class="fas fa-home"></i><br>
		      <span class="iconname">ホーム</span></a>
	      </li>
 	      <li>
		      <a href="飛ばしたいページのURL"><i class="fas fa-home"></i><br>
		      <span class="iconname">表示させたい名前</span></a>
	      </li>
	      <li>
		      <a href="飛ばしたいページのURL"><i class="fas fa-home"></i><br>
		      <span class="iconname">表示させたい名前</span></a>
        </li>
      </ul>
    </div>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script charset="utf-8" src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
