<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <title>マッチングアプリマスター</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div id="liffAppContent">
      <%= yield %>
      <nav class="bottom-sticky-nav">
    　  <ul>
         <li><a href="#"><i class="fa fa-home"></i><span>Home</span></a></li>
         <li><a href="#"><i class="fa fa-user"></i><span>Profile</span></a></li>
         <li><a href="#"><i class="fa fa-briefcase"></i><span>Service</span></a></li>
         <li><a href="#" ><i class="fa fa-laptop"></i><span>Portfolio</span></a></li>
         <li><a href="#" ><i class="fa fa-envelope"></i><span>Mail</span></a></li>
   　　  </ul>
　　　　</nav>
    </div>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script charset="utf-8" src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
