<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="<%= " 1; url=https://dating-apps-master.com/users/my_page" %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <title>１</title>
  </head>
  <body>
    <div id="liffAppContent">
      <%= yield %>
    </div>
    <!-- LIFF ID ERROR -->
    <div id="liffErrorMessage" class="hidden">
      <p>一度アプリを閉じて、もう一度開き直して下さい。</p>
    </div>
    <%= javascript_pack_tag 'before', 'data-turbolinks-track': 'reload' %>
    <script charset="utf-8" src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
  </body>
</html>
