<!DOCTYPE html>
<html>
  <head>
    <%= display_meta_tags(default_meta_tags) %>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="<%= " 2; url=/users/my_page" %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <title>マッチングアプリマスター</title>
  </head>
  <body>
    <%= yield %>
    <%= javascript_pack_tag 'before', 'data-turbolinks-track': 'reload' %>
    <script charset="utf-8" src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
  </body>
</html>
