<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-211757403-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-211757403-1');
    </script>
    <%= display_meta_tags(default_meta_tags) %>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% unless request.referer == "https://dating-apps-master.com/users/my_page" %>
      <meta http-equiv="refresh" content=" 0; url=/users/my_page">
    <% end %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <title>マッチングアプリマスター【マッチングアプリ（「ペアーズ」「with」「タップル」「ティンダー」の4つの出会い系アプリ）完全攻略サービス】</title>
    <meta name="description" content="マッチングアプリ（「ペアーズ」「with」「タップル」「ティンダー」の4つの出会い系アプリ）完全攻略サービスです。まず自分はどのマッチングアプリが適しているかを診断してくれて、その人に合ったおすすめのアプリを教えてくれます。『プロフィール設定』〜『メッセージのコツ』、デートをして『付き合う』or『セフレを作る』までのテクニックやコツを全て指南します。"/> 
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="white" role="navigation" id="my_page_header_nav">
      <div class="nav-wrapper container" id="my_page_header_nav-wrapper">
        <p class="brand-logo" id="my_page_header_p"><img src="/logos/マッチングアプリマスター.jpg"></p>
        <div class="hamburger-menu">
            <!-- ↓↓項目2. おすすめ　すぐ下の"＃"はそのまま -->
            <input type="checkbox" id="menu-btn-check">
            <label for="menu-btn-check" class="menu-btn"><span></span></label>
            <!--ここからメニュー-->
            <div class="menu-content">
                <ul class="hamburger_menu_my_page">
                    <li>
                        <a href="/guide">アプリの使い方</a>
                    </li>
                    <li>
                        <a href="/app_diagnostics">適正アプリ診断</a>
                    </li>
                    <li>
                        <a href="/targets/new">女性登録</a>
                    </li>
                    <li>
                        <a href="/targets">女性一覧</a>
                    </li>
                </ul>
            </div>
            <!--ここまでメニュー-->
          </div>
      </div>  
    </nav>
    <div id="liffAppContent">
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script charset="utf-8" src="https://static.line-scdn.net/liff/edge/versions/2.17.0/sdk.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
